
Assignment 5/toDoApp/.idea/toDoApp.iml
Assignment 5/toDoApp/.idea/workspace.xml
Project/predizione/ios/build/XCBuildData/78b31779f8e5c6608427c95fab800ab8-desc.xcbuild
Project/.DS_Store
.DS_Store
*.xcbuild
Project/predizione/ios/build/XCBuildData/build.db
Project/predizione/ios/build/XCBuildData/BuildDescriptionCacheIndex-ce1f5c1181c164257ae6b1a47d61881c
Project/predizione/ios/Runner.xcodeproj/project.pbxproj
Project/predizione/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Project/predizione/ios/Runner.xcodeproj/project.pbxproj
